{#
* Plugin Name : ProductOption
*
* Copyright (C) BraTech Co., Ltd. All Rights Reserved.
* http://www.bratech.co.jp/
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
#}

<p id="option_price_box">{{'productoption.product.option.price_header'|trans}}&nbsp;<span id="option_price_inctax_default"></span>&nbsp;</p>