<script>
    $(function () {
        $('#_zeus_message').insertBefore('#form_bulk');
    })
</script>
<div id="_zeus_message" class="form-text font-weight-bold text-danger " style="line-height:200%;text-align:right;">ゼウスクレカ注文の実売上は<a href="{{ url('zeus_order_list') }}">ゼウス受注管理</a>より操作してください</div>