{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
<div class="ec-modifiedLayoutRole__contents">
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>{{ '利用規約'|trans }}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
    {{ '
    この度は、株式会社ラムロックのレンタルサービスをご利用頂きありがとうございます。
お客様は当社のレンタルサービスのご利用に際し、下記約款条項についてご了承頂いたものとします。

 
第1条 （総則）規約の適用

株式会社ラムロック（以下、「当社」という。）とお客様（以下、「契約者」という。）との間のレンタル契約は、契約者が当社に対し「レンタル商品」（以下、「本製品」という。）のレンタルサービスの利用申込みをして当社が適当と認め、本製品発送の実施をもって成立します。


第2条　規約の変更について

当社は当社の判断により、この約款を予告なく変更する場合があり、契約者は予め承諾するものとします。尚、当社は変更の都度ホームページに掲載するものとします。


第3条　本サービスについて

当社は契約者に対し本製品を貸出し、契約者はこれを借り受けるものとします。
当社は契約者の使用用途に一切の責任を負わないものとします
本製品が設置され利用される地域は、日本国内に限られるものとします。また設置する場所は屋内に限られるものとします。但し精密機器を設置する事に不適格な場所（高温多湿/直射日光）は避け、電子機器や精密機器の近くには設置しないものとします。


第4条　本サービスの申込みについて

お申込み時には携帯電話不正利用防止法に基づく本人確認のため、本人確認書類が必要です。詳細は以下の通りです。

①   運転免許証/マイナンバーカード等（写真付き）
　　＝写真付きの場合はいずれか１点。

②   保険証/パスポート/個人番号カード等
　　＝補助資料として公共料金の領収書や住民票が必要です。


第5条　本サービスの利用について

当社は契約者の使用目的への適合性について一切の責任を負わないものとします。
契約者が本製品を使用した事によりプライバシーに関する訴訟を第三者に起こされた場合、契約者の責任において対応するものとし、当社は一切の責任を負わないものとします。
本製品はLTE回線を使用している為、契約者は使用予定場所がNTTドコモLTEサービスエリア内かを事前に確認する事とします。なおサービスエリア外の場合はご利用いただけません。
本サービスのLTE回線はデータ通信専用です。音声機能は付帯しません。また国際ローミングには非対応です。
オペレーションセンター受付によるリモートサービスは、当社が契約者の通信回線を利用し本製品の設定変更およびメンテナンスを行います。また、リモートサービスによる検知設定の変更は、「年間１０回」を上限とし、その上限を超えた検知設定の変更は別途有償とします。但し障害復旧等の正常動作維持目的の場合はその限りではありません。


第6条　通信端末について

本製品の通信は、利用者の通信端末へ情報を送信する際と、通信端末から本製品を操作する際に使用します。スマートフォン、iPhone、パソコン、タブレット等で当社の推奨するブラウザアプリをインストール可能な端末に限ります。これらの端末では、Eメールを受信できると共に、ブラウザアプリを通じて本製品を操作し、ライブ映像や録画映像を確認することが出来ます。

【通信端末ご利用時の注意事項】
①　通信端末は契約者の責任でご用意ください。
②　通信端末のご利用料金は契約者の責任で管理してください。
③　当社からのメールは「ramrock.info」「ramrock.co.jp」左記の2つのドメインより
　　メール配信を行います。携帯端末にて両方のメールを受信できる設定を行って下さい。
「※iPhoneの商標は、アイホン株式会社のライセンスにもとづき使用されています。」


第7条　設置場所での現地作業

契約者は、本製品の新規設置および不具合・交換時の復旧対応を契約者の責任で行うものとします。


第8条　レンタル期間及び解約違約金

レンタル期間は、契約日に開始し、契約日の属する月から起算して１２か月目の末日に終了する期間（以下「初期レンタル期間」という）とします。但し、初期レンタル期間の期間満了の 1週間前までに、当社及び契約者のいずれからも相手方に対し、当社が指定するレンタルサービス契約を更新しない旨の申し出がないときは、さらに１か月間延長されるものとし、以後も同様とします。なお、初回更新後に延長された１か月のレンタル期間を「再レンタル期間」といい、その後の更新も同様とします。
上記1項に定める初期レンタル期間については、当社が提供するキャンペーン、または特約を優先するものとし、別途個別契約にて初期レンタル期間を定めるものとします。
レンタルサービス契約が初期レンタル期間内に解約または解除により終了した場合、契約者は、当該終了が当社の責めに帰すべき事由に基づくものでない限り、別表2に定める解約違約金を、当社に一括して当社の定める期日までに支払うものとします。
別表２に定める解約違約金については、事前に登録した見守り対象者が、当社が定める施設へ入所、または逝去した場合は、当社が認める証明書を提出する事で免除されるものとします。
キャンペーン時は契約時のキャンペーンルールに則るものとします。


第9条　レンタルサービスの料金に関する注意事項

レンタルサービスに関する表記は税込み表示となります。

【レンタルサービス料金について】
①　レンタルサービス料金は当社が別途定めるものとします。
　　但し、キャンペーン時はキャンペーンルールに則るものとします。
②　レンタルサービス料金は、暦月単位で計算されるものとし、その課金開始日は出荷日
　　とします。但し、出荷日の属する月のレンタルサービス料金は日割り計算とします。
　　なお、課金開始日以降は、月の途中でレンタルサービス契約が終了した場合でも
　　1ヶ月分のレンタルサービス料金が課金されます。

【あんしん保守パック料金について】
①　あんしん保守パック料金の額は、別表1記載のとおりとします。
②　あんしん保守パック料金は、レンタル期間中、暦月単位で計算されるものとし、
　　その課金開始日は、出荷日の属する月からとします。なお、課金開始日以降は、
　　月の途中で当該サービスが終了した場合でも 1か月分の料金が課金されます。

【回線使用料ならびに超過料金について】
①   回線使用料は、原則として利用期間が1ヶ月に満たない場合であっても、1ヶ月単位で
　　課金が行われるものとします。
②　通信量の利用状況に関する通知は、契約者へ既定量の50％到達時・80％到達時・
　　100％到達時、120％超過時の各時点で通知されます。また通知先はサービス申込時に
　　登録したメールアドレスに配信されるものとし、契約者がメールを受けられない状況
　　でも超過時は自動的に超過料金を請求するものとします。
③   超過料金は仮に0.1GBであっても、1GB単位での請求になります。
④　120％超過時のメールが送信された時点で超過料金を請求するものとします。超過料金
　　の額は、別表5のとおりとします。
⑤   自動で超過料金が発生するのは本製品の特性上、緊急性を要する場合が想定されるため
　　です。緊急時に通信速度制限や、データ通信量の追加購入手続きを行う事を回避する
　　ための自動課金のシステムを採用しています。
⑥   通信料の計算は、１日毎に行われるため、超過した日の翌日に通知されます。但し、
　　通信会社のサービス変更により変更されることがあります。


第10条　使用料金の支払い

契約者は当社が指定する方法に従い、レンタルサービス料金等と回線使用料が超過した場合は、超過料金を支払うものとします。また、支払いに要する費用は、契約者が負担するものとします。
契約者は、レンタルサービス料金等とその他の債務について支払期日を経過してもなお支払いをしない場合、支払期日の翌日から支払いの日の前日までの期間について年14.5％の割合で計算して得た額を延滞利息として、前項に従って当社に対して支払うものとします。
請求書、領収書、マニュアル、報告書等の書面を郵送する場合は有償のサービスとなります。


第11条　債権譲渡

契約者は、第9条、前条、第12条、第15条4項及び第19条2項の規定により生じた債務が不払いとなった際には、当社がその債権を提携事業者である株式会社ネットプロテクションズ社（東京都千代田区麹町4丁目2－6住友不動産麹町ファーストビル5階）に債権譲渡することにつき異議なく承諾するものとします。
前項の場合において、当社および株式会社ネットプロテクションズ社は、契約者への個別の通知または譲渡承認の請求を省略するものとします。


第12条　初期費用

契約者は、レンタルサービス契約が成立したときは、別表3に定める初期費用の支払いを要します。なお、契約者が支払った初期費用は、理由の如何を問わず、返金されないものとします。


第13条　善良な管理者の注意義務

契約者は、本製品を善良な管理者の注意義務をもって管理し、本製品について、譲渡、担保提供、その他一切の処分をしてはなりません。
契約者は、本製品が当社の所有物であることを明示し、第三者が本製品について差押え、仮差押え等の執行をしようとしたときは、当社の所有物である旨を主張し、これを防止するものとします。


第14条　禁止事項

契約者は、当社の書面による承諾を得なければ次の各号に定める行為をしてはなりません。

①   本製品に新たに装置・部品・付属品等を取り付けることまたは既に付着しているものを取り外す
　　こと。

②   本製品の分解・改造、あるいは性能・機能を変更すること。


第15条　本製品の毀損・紛失等の取扱い

契約者は、本製品について、理由の如何を問わず紛失等または毀損が発生した場合、直ちに当社に申し出るものとします。
当社は、下記3項及び4項に定める損害金または修理費を支払うことを条件として、代替機を契約者に貸与するものとします。なお、未使用製品とは限りません。
上記1項の場合、契約者は当社所定の書面を、代替機を発送した日（レンタルサービス契約の解約等、代替機の送付が発生しない場合は、当社が所定書面の提出を請求した日） から 2週間以内に、自ら送料を負担することにより、当社所定の窓口に送付するものとします。なお、本製品を毀損した場合には、契約者は蓄積データ等を消去のうえ、毀損した本製品を当該書面と共に送付するものとします。当社は、本製品の返却に際し、契約者が蓄積データ等の消去を行わなかったことにより、契約者または第三者に生じた損害につき一切の責任を負わないものとします。
契約者は、次に掲げる場合、次の各号に定める損害金を当社に支払うものとします。なお、当該損害金の支払いは第20条に定める損害賠償の請求を妨げないものとします。
①   本製品の紛失等が発生した場合：別表4に定める紛失等の場合における紛失時損害金
②   本製品を毀損した場合：別表4に定める毀損の場合における損害金（上限額）を上限と
　　する修理費 （但し、初期レンタル期間中における本製品の毀損であって、当該毀損が
　　生じたことについて契約者に過失がなく、機器自体に起因する毀損であると判断された
　　場合は、無償とする）
③   本製品を毀損した場合で、上記3項に定める期間内に当社所定の書面の送付及び本製品
　　の返却がなされない場合：別表4に定める未返却の場合における損害金。なお、毀損の
　　申告後に本製品の紛失等が発生した旨を当社に申告した場合であっても、紛失等の扱い
　　とはなりません。

上記4項に定める損害金の支払いを要する場合において、契約者は、事前に当社の承諾を得て、当社が提供するあんしん保守パックに加入することにより、毀損の場合のみ支払いに代えることができるものとします。（但し、別紙１に規定する条件を満たした場合に限る）
契約者による上記4項の損害金の支払いは、紛失等が発生した本製品を契約者が発見した場合であっても、契約者は、本製品の紛失等の申し出の取消し及び損害金の返却を請求することはできないものとします。
本条に定める場合において、レンタルサービスを利用できなくなったときでも、契約者は、その利用できない期間にかかるレンタルサービス料金等の支払いを要するものとします。


第16条　レンタルサービス契約内容の変更

契約者は、契約申込書の記載内容（住所等）に変更があるときは、事前に当社の指定する書式により申し出るものとします。
契約者は、あんしん保守パックの解約を希望する場合、当社の指定する書式により申し出を行うものとします。
契約者は、レンタルサービスにより提供を受けている本製品のご契約内容の変更を希望する場合、変更前の本製品の利用月と変更後の本製品の課金開始月が連続している時にのみ行うことができるものとします。毀損した本製品の交換を希望する場合は、第15条の定めに基づくものとします。
①   変更が可能な内容は以下の通りとします。但し、適用は翌月以降となります。
　　1）データ通信量プランの増減　2）契約台数の減少　3）検知オプションの有無
②   変更が不可な内容は以下の通りとし、希望する場合は変更前の本製品にかかるレンタル
　　サービス契約を解約し、同時に新たなレンタルサービス契約の申込みを行うことと
　　します。
　　1）あんしん保守パックの契約　
③   新規のお申込みが必要な内容は以下の通りとします。
　　1）  契約台数の増加
　　　　 但し、合計契約台数が複数台となった場合は、複数台割引が適用されます。


第17条　レンタルサービス契約の解約

契約者がレンタルサービス契約を解約する場合は、当社の指定する書式により申し出るものとします。
上記1の申し出があった場合、レンタルサービス契約は、当社が当該申し出を受理した日の属する月の末日をもって終了するものとします。
レンタルサービス契約の終了時点で存在する一切の債務については、レンタルサービス契約終了時においても、その債務が履行されるまで消滅しないものとします。


第18条　レンタルサービス契約の解除

契約者が次の各号の一に該当した場合、当社は、何ら催告することなしに、レンタルサービス契約の全部または一部を解除することができるものとします。
①   契約者の財産につき差押え、仮差押え、仮処分若しくは競売の申立てを受け、または
　　租税滞納処分を受けたとき
②   支払不能若しくは支払停止に陥り、または破産、民事再生、会社更生、または特別清算
　　の申立てがあったとき
③   その他支払能力に支障が生じたと認められる客観的事態が生じたとき
④   契約者が当社に対して虚偽の事実を告げたとき、または契約者の申告した事実が虚偽で
　　あると合理的に判断されるとき
契約者が本約款の規定に違反した場合、当社は、相当な期間を定めて当該違反事由の解消を求める催告を行うことができるものとし、当該期間経過後、なおも契約者が違反事由を解消しなかったとき、当社はレンタルサービス契約を解除することができるものとします。
上記２項によりレンタルサービス契約が解除された場合、契約者は、直ちに当社に対する債務につき期限の利益を失うものとし、直ちに全ての債務を弁済するものとします。
本条項の規定は、当社から契約者に対する損害賠償請求を妨げないものとします。


第19条　返却について

契約者は、次の各号のいずれかに該当する場合、本製品を当社が別途定めるその他の返却条件にしたがって、下記の該当する期限までに当社所定の窓口に返却するものとします。なお、送料は、契約者の負担とします。
①   理由の如何を問わず、レンタルサービス契約が終了したとき
　　：契約期間終了後、1週間以内に当社到着
②   代替機が発送されたとき（紛失等により本製品が契約者の管理下にない場合を除く）
　　：当社が代替機を発送した日から2週間以内
契約者が前項に定める手続きにより本製品の返却を行わない場合、契約者は別表4に定める未返却の場合における損害金を、当社に支払うものとします。前項に定める所定の期間経過後において返却がなされたとしても同様とします。解約後に本製品の紛失等が発覚した場合も紛失等の扱いとはなりません。
　 また、本製品に含まれる専用アダプター、固定ブラケット、自在ブラケットの未返却及び毀損については、契約者は別表４に定める損害金を当社に支払うものとします。

当社は、上記1項に定める本製品の返却に際し、契約者が蓄積データ等の消去を行わなかったことにより、契約者または第三者に生じた損害につき一切の責任を負わないものとします。


第20条　保証、損害賠償について

強弱のある電波通信で映像を送信している為、映像速度、乱れ等のトラブルは保証の範囲外とします。
本製品の通常使用時の破損の際は原則的に当社の負担としますが、別表４に基づき契約者に対し損害請求をする場合があります。
当社は、自己の責めに帰すべき事由により契約者に損害を与えた場合、直接かつ現実に発生した損害に限り、賠償する責任を負うものとします。
上記2項及び3項の定めにかかわらず、契約者による本製品の使用または管理に起因して発生したいかなる損害についても、当社は何人に対しても責任を負わず、契約者が自らの責任と費用負担でこれを処理、解決するものとします。
当社は、本製品のソフトウェアバージョンアップ等の作業に伴い契約者に追加費用が発生した場合であっても、一切の責任を負わないものとします。
当社は、本製品のソフトウェアバージョンアップ等の作業を実施したことまたは実施しなかったことに起因する損害について、一切の責任を負わないものとします。
当社は、レンタルサービスの完全な運用に努めますが、レンタルサービスの中断、運用停止、廃止などによって契約者に損害が生じた場合、当社は免責されるものとします。


第21条　損害賠償の制限

何らかの理由により当社が責任を負う場合であっても、当社は、過去12か月間に契約者が月額料金として支払った対価の金額を超えて賠償する責任を負わないものとし、付随的損害、間接損害、特別損害、将来の損害および逸失利益にかかる損害については、賠償する責任を負わないものとします。
本製品は、生命や財産にかかわるような状況下で使用される事を目的として設計、製造されたものではないため、本製品のシステム停止や誤作動で生命や財産に関わるような損害が発生した場合でも、当社は、契約者、その他いかなる者に対しても一切の責任を負わないものとします。また、契約者はその旨を理解した上で使用するものとします。
当社は、本規約に明示的に定める場合を除き、当社の責に帰すべからざる事由から、契約者および第三者（以下、ユーザー等という。）に生じた損害、当社の予見の有無に拘らず、特別の事情から生じた損害、逸失利益、および第三者からの損害賠償請求に基づくユーザー等の損害その他の損害については責任を負わないものとします。
当社は契約者に提供される本サービスの完全性、利用目的への最適性、および利用による商業的成功を何ら保証するものではありません。
通信事業者の責に帰すべき事由によりユーザー等が損害を被ったときは、当社は、一切その責を負わないものとします。
天災、地変、戦争、内乱、その他不可抗力により、本サービスを提供できなかったときは、当社は、一切その責を負わないものとします。
契約者が本サービスに関して、当社または第三者に損害を及ぼした場合、契約者は、当社または当該第三者に対し、係る損害を賠償するものとします。
契約者は、本製品や本サービスの利用に関し、他のユーザー等に対して損害を与えたものとして、他のユーザー等から何らかの請求がなされ、または、訴訟が提起された場合、契約者は、自らの費用と責任において当該請求または訴訟を解決するものとし、当社は一切の責任を負わないものとします。
前項の他、本製品や本サービスの利用に関連して、契約者が不利益を被った場合、契約者は自らの費用と責任において、これを解決するものとし、当社は一切の責任を負わないものとします。


第22条　製造物責任

本製品の使用により人の生命、身体、財産に対し損害を発生させ、または発生させ得る欠陥が存在することが判明した場合、当社は、契約者に対し直ちに書面をもって通知します。この場合、当社はなんらの責任を負うことなく本規約または関連する個別契約の全部または一部を解除し、あるいは本製品の使用または引渡しを中止することができるものとします。


第23条　映像・画像の取り扱いについて

当社は契約者から本製品の返却を受けた際、残存しているSDカード内の全ての記録を速やかに削除します。


第24条　秘密の保持

当社および契約者は、レンタルサービスにて知り得た一切の情報を他に漏洩してはならないものとします。これは、レンタルサービスを終了した後も同様とします。


第25条　反社会的勢力への対応について

契約者が暴力団等反社会的勢力であると判断したとき、当社はレンタルサービスを終了する事ができます。
契約者が取引に関して脅迫的な言動または暴力を用いたとき、当社はレンタルサービスを終了する事ができます。


第26条　報告義務について

契約者は次の各号のいずれかに該当する場合には、その旨を速やかに当社に申し出なければなりません。
①   本製品について盗難・滅失あるいは毀損が生じたとき
②   契約者の住所・氏名等に変更があったとき
契約者が前項①号の申し出を怠った場合は、別表４に基づき本製品の損害額を当社に支払わなければなりません。


第27条　個人情報の利用目的について

当社は、当社の定める「個人情報の取り扱いについて」に基づき、ご本人様確認、契約の締結・履行・解除、料金・サービス提供条件の変更、配送、利用の停止・中止・契約解除の通知、料金の請求、資産・設備等の形成・保全、関連するアフターサービス、商品・サービスの改善・開発、商品サービスに関する電子メール・ダイレクトメール・電話・訪問などによるご案内、アンケートの実施、その他これらに付随する業務を行うために必要な範囲内において個人情報を利用させていただきます。
当社は、前項に定める利用目的の達成に必要な範囲内において、個人情報を提携事業者、業務委託先、販売代理店および他の電気通信事業者に開示・提供いたします。
 ※業務委託先とは、クレジットカード支払いを希望された時のカード会社、商品配送を請負う宅配業者、注文審査および商品の代金回収を委託した債券回収会社等を意味します

以上


2016年10月1日施行
(2019年4月1日改訂)
(2019年7月25日改訂)
(2019年9月19日改訂)
(2020年11月1日改訂)
(2022年8月1日改訂)


別表1あんしん保守パック料金表

<img src="/html/template/default/assets/img/kiyaku/グループ 2001.png" alt="">


別表2解約違約金

<img src="/html/template/default/assets/img/kiyaku/グループ 2002.png" alt="">


別表３レンタル登録事務手数料

<img src="/html/template/default/assets/img/kiyaku/グループ 2003.png" alt="">


別表4紛失等、毀損の損害金

▼紛失等の場合における紛失時損害金（本製品１台あたり）
1．紛失時損害金の額は、紛失等をした本製品自体の利用期間に応じ下表を適用します。 ※契約期間ではありません。
<img src="/html/template/default/assets/img/kiyaku/グループ 2005.png" alt="">
2．当該利用期間の起算日は、以下の通りです。
(1) レンタルサービス開始時における本製品の出荷日
(2) 本製品の紛失等が発生し、第15条2項により代替機の貸与を受けた場合には、当該代替機を当社が出荷した日（複数回紛失などした場合には、直近の紛失等に基づく代替機の発送日）

▼毀損の場合における損害金（上限額）
33，000円（税込）

▼未返却の場合における損害金
40，000円（不課税）

▼毀損、未返却の場合における損害金
専用アダプター、固定ブラケット、自在ブラケット　各　2,000円（不課税）</td>


別表５超過料金

<img src="/html/template/default/assets/img/kiyaku/グループ 2006.png" alt="">


別紙１　あんしん保守パックについて

別紙１（以下「本別紙」という。）は、レンタルサービスのオプションサービスである「あんしん保守パック」(本別紙において、以下「本サービス」という。)について定めたものです。申込みに際しては、以下の条件等を十分理解し、同意いただいた上で、お申込み下さい。なお、本別紙に規定のない事項については、「レンタル約款の各条項」の定めに従うものとします。

1. 適用条件

①   本サービスは、新たにレンタルサービス契約を行うときに申し込むことができるサービスです。
②   本サービスは、本サービスの申込みを当社が承諾した日から利用できるものとします。
③   本サービスに加入した場合は、第14条の定めにかかわらず、本製品を毀損した場合にかかる
　　費用が無償となります。但し紛失等は適用外となります。
④   本サービスをご利用いただいた契約者は、前回のご利用から6か月間は同サービスをご利用
　　いただけません。
⑤   本サービス適用時に係る費用（送料/設置費用/調査料等）は契約者が負担するものとします。


2. 本サービスの提供義務の免責

当社は、次の場合には本サービスの提供義務を免れるものとします。
①   本サービス契約者の故意または重過失によって生じた故障、盗難、紛失、水漏れ、全損等
　　（以下総称して「故障等」という。）の場合
②   戦争・動乱・暴動等によって生じた故障等の場合
③   詐欺・横領等の犯罪によって生じた故障等の場合
④   公共の機関による差押え、没収等によって生じた故障等の場合
⑤   地震・噴火・火砕流・津波等の天災によって生じた故障等の場合
⑥   その原因等について虚偽の事実を申告または、当社が合理的根拠に基づき虚偽と判断した場合
⑦   本サービス契約者が月額使用料その他の債務の支払いを現に怠っている場合


3. 本サービスに関する注意事項 

本サービスを解約する場合は、当社の指定する書式により申し出るものとします。本サービスは、当社が当該申し出を受領した日の属する翌月の末日をもって終了するものとします。
    '|raw|nl2br }}
            </div>
        </div>
    </div>
</div>
{% endblock %}