{% extends 'default_frame.twig' %}

{% block main %}
<!--content-->
<div class="cmncontent">

	<section class="underMv makerpolicy">
		<div class="cmnbox01">
			<div class="underMv_contImg sp"><img src="{{ asset('assets/img/makerpolicy/pic_mv_sp.png') }}" alt=""></div>
			<div class="underMv_cont">
				<div class="underMv_cont_box">
					<h2 class="underMv_cont_ttl">
						<span class="underMv_cont_icon"><img src="{{ asset('assets/img/makerpolicy/icon_mv.png') }}" alt=""></span>
						<span class="underMv_cont_head">メーカー直販ポリシー</span>
					</h2>
					<p class="underMv_cont_txt">みまもりCUBEは徘徊（設定している動作）を始めた瞬間に、呼び止め・スマートフォン等への通知を行い、映像で確認できる最先端の見守りカメラシステムです。</p>
				</div>
			</div>
		</div>
	</section>

	<ul class="breadcrumb cmnbox01">
		<li class="breadcrumb_list"><a href="{{ url('homepage') }}">HOME</a></li>
		<li class="breadcrumb_list">メーカー直販ポリシー</li>
	</ul>

	<section>	
		<div class="underblock">
			<div class="cmnbox01">
				<div class="underbox01">
					
					<h2 class="undertitle01 type01">ご利用者様へ</h2>
					<p class="cmntxt01">すでに迎えている超高齢社会・・・そして独居高齢者・高齢夫婦のみ世帯の増加にともない、日々の生活における不安、またその介護のため、離職せざるを得ない状態になる働き世代（介護離職）の発生、こう言った社会問題の一助となるべく、我々は高齢者及びその家族が過度の心配をすることなく楽しい日々を過ごせるサポーターでありたい。</p>
					<p class="cmntxt01">そんな思いから、メーカーとして以下の提供を実施しております。また残念ながら介護状態になる等、単に見守るだけでは不測の事態に対応できないような状態となった際、当社には強力なパートナーである販売代理店様がいます。パートナーとともにご利用者様ならびにご家族様へ長く寄り添う環境を作ってまいります。</p>
					<p class="cmntxt01">そろそろ健康面などが心配になってきたという方、また離れて暮らす親が心配であるというご家族の皆様、どうぞご遠慮なくご相談ください。ともに安心できる環境を作ってまいりましょう。</p>
					
				</div>
			</div>
		</div>
	</section>
	
	<section>	
		<div class="underblock">
			<div class="cmnbox01">
				<div class="underbox01">
					
					<h2 class="undertitle01 type02">当社がサービスを提供するお客様</h2>
					<p class="cmntxt01">・検知までは必要としないが「みまもり」だけは準備しておきたい『非介護保険受給者』<br>
・出入り等の検知通知までして欲しいという『非介護保険受給者」</p>
					
				</div>
			</div>
		</div>
	</section>
	
	<section>	
		<div class="underblock">
			<div class="cmnbox01">
				<div class="underbox01">
					
					<h2 class="undertitle01 type01">当社が代理店様へ対応を依頼するケース</h2>
					<p class="cmntxt01">・お問い合わせ先が法人様である場合、当社はＢtoＢは代理店様へ依頼します。<br>
・要介護認定者及びその家族からのご依頼　（当社は介護保険適用となる方に関してはすべて代理店様に依頼します）<br>
・当社からサービス提供されている非介護保険受給の方が要介護認定を受けられ、介護保険を適用し、ご利用される場合になった時に、そのご利用者様をご紹介申し上げます。（福祉用具貸与事業者である代理店様）</p>
					<p class="cmntxt01">当社は代理店様と共に高齢者のみまもりサービスを展開してまいります。<br>
是非ご一緒にご対応をよろしくお願い申し上げます。</p>
					<p class="cmntxt01">これからもよろしくお願い申し上げます。</p>
					
				</div>
			</div>
		</div>
	</section>
</div>
<!--/content-->

{% endblock %}