/* カスタマイズ用CSS */


/* html {
    overflow: hidden;
} */

.ec-layoutRole .ec-modifiedLayoutRole__contents {
    padding: 0 15px;
    max-width: 1230px;
    margin: 0 auto;
}

.ec-layoutRole .ec-layoutRole__contents {
    max-width: none;
}

.ec-layoutRole {
    background: none;
}

.footer2 {
    margin-top: 60px;
}

.cs-cart_class {
    margin-top: 4px !important;
    font-size: 13px !important;
    font-weight: 500 !important;
}

.ec-cartRole .cs-cart_class {
    margin-top: 4px;
    font-size: 14px;
    font-weight: 500;
}

.ec-orderRole .cs-order_class {
    margin-top: 4px;
    font-size: 14px;
    font-weight: 500;
}

.ec-cartRole .cs-cart_class .class-name {
    font-weight: 600;
}

.ec-cartRole .cs-cartRole_month {
    margin-top: 50px;
    margin-bottom: 50px;
}

.ec-cartRole .cs-cartRole_month .ec-cartTable {
    margin-top: 15px;
}

.ec-orderRole .cs-orderOptions {
    margin: 20px auto;
}

.ec-orderRole .cs-orderOptions .ec-borderedDefs,
.ec-orderRole .cs-orderOptions p {
    margin: 15px auto;
}

.ec-orderRole .cs-orderOptions_title {
    padding: 10px 0;
    font-weight: bold;
    font-size: 18px;
}

.cs-toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.cs-span-highlight {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.ec-productRole .ec-productRole__price .cs-price-label {
    min-width: 180px;
    display: inline-block;
}

.ec-calendar {
    justify-content: center;
}

.cs-plan-change .ec-cartRow__contentColumn {
    vertical-align: middle;
}

.ec-checkbox label {
    margin-right: 15px;
}

.item_visual img {
    max-width: 420px;
}


/* .ec-mypageRole .ec-navlistRole__item {
    font-size: 14px;
} */

.ec-navlistRole__item {
    font-size: 14px !important;
}

.ec-off1Grid .ec-off1Grid__cell a {
    font-weight: bold;
    color: brown;
}

.ec-off1Grid .ec-off1Grid__cell a.ec-blockBtn--cancel {
    color: white;
}

.ec-navlistRole .ec-navlistRole__item a {
    padding: 10px 0;
}

/* .ec-orderRole .collapse:not(.in) {
    display: none;
} */

.product-options .ec-checkbox {
    padding-left: 15px;
}

.product-options .ec-checkbox.anshin {
    border: 1px solid #ff6464;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #ffecec;
}

.enquete-body {
    margin-top: 30px;
}

.enquete-body fieldset {
    margin-bottom: 30px;
}

.enquete-body fieldset legend label {
    margin: 0 10px;
}

.enquete-body fieldset legend.required span.badge {
    color: red;
    font-size: 14px;
}

.enquete-body fieldset .enquete-form-check {
    margin-left: 5px;
}

.enquete-body fieldset textarea {
    min-width: 350px;
}

.ec-zipInputHelp .ec-zipInputHelp__icon {
    top: -14px;
}

@media only screen and (min-width: 768px) {
    .product-options .ec-checkbox.anshin {
        max-width: 350px;
    }

    .ec-productRole .ec-productRole__price {
        padding: 10px 0;
    }
    
    .ec-cartRow .ec-cartRow__amountColumn {
        width: 190px;
    }
    .ec-navlistRole .ec-navlistRole__navlist {
        flex-wrap: wrap;
    }

    .ec-navlistRole .ec-navlistRole__item {
        width: 20%;
    }

    .ec-productRole .ec-productRole__price {
        font-size: 22px;
    }
}

@media (max-width: 767px) {
    .footer2 {
        margin-top: 40px;
    }
    .ec-layoutRole .ec-modifiedLayoutRole__contents {
        padding: 0;
        max-width: 94%;
        margin: 0 auto;
    }
    .ec-cartRow {
        margin-top: 20px;
    }
    .ec-productRole .ec-productRole__price {
        margin: 5px auto;
    }
    .ec-cartRow .ec-cartRow__contentColumn {
        text-align: center;
    }
    .ec-cartRow .ec-cartRow__amountColumn .ec-cartRow__amountUpDown .cs-cart_class {
        margin-left: 5px;
    }

    .ec-productRole .ec-productRole__price {
        font-size: 19px;
    }

    .ec-price .ec-price__price {
        font-size: 16px;
    }
}

#page_help_privacy .ec-off1Grid__cell ul{
    margin: 10px 0;
}
#page_help_privacy .ec-off1Grid__cell ul li{
    text-indent: -1em;
    padding-left: 1em;
}